*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: #e2e8f0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 7px 15px;
    height: 100%;
    width: 20em;
    background: #2a93d5;
}
.sidebar ul{
    list-style-type: none;

}
.sidebar ul li{
    margin-top: 10px ;
}
.second-list{
    margin-top: 5em;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;    
}
.sidebar .logo {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
}
.sidebar .logo i{
    font-size: 45px;
    color: white;
}
.sidebar .logo .logo_name{
    font-size: 40px;
    color: white;
} 
.list{
    margin-top: 1em;
}
.header{
    height: 13em;
    width: 100%;
    position: relative;
    transform: translateX(20em);
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}
.header .search-line{
    margin-top: 10px;
    display: flex;
}
.header .search-line img{
    width: 60px;
    height: 60px;
    margin-left: 6em;
}
.header .search-line input{
    width: 50em;
    border: 0;
    background-color: #e2e8f0;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 2em;
}
.header .search-line i{
    color: black;
    margin-top: 10px;
    margin-left: 2em;
    font-size: 30px;
}
.header .search-line h3{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 2em;
}
.bell{
    margin-left: 5em;
}
.header-line2{
    display: flex;
    margin-left: 5em;
}
.header-line2 img{
    margin-top: 2em;
    width: 80px;
    height: 80px;
}
.header-line2 h6{
    margin-top: 2em;
    margin-left: 1.5em;
}
.header-line2 h2{
    /* margin-top: 1.5em; */
    margin-left:0.8em;
    font-size: 30px;
}
.buttons{
    margin-left:20em;
}
.header-line2 button{
    width: 8em;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: #2a93d5;
    color: white;
    font-size: 15px;
    margin-left: 4em;
    margin-top: 4em;
}

  /* Grid */
 .grid-container {
  width: 75em;
  margin-top: -2.5em;
  transform: translateX(20em);
  /* background-color:#e2e8f0 ; */
  resize: both;
  overflow: auto;
  display: grid;
  gap: 4px;
  padding: 50px;
  border: 10px black;
  display: grid;
  grid-auto-rows: minmax(300px, auto);
  grid-template-columns: 300px 300px;
  column-gap: 10em;
}

.grid-item {
    background: white;
    width: 27em;
    height: 15em;
    padding-top: 20px;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid;
    box-shadow: 10px 0px 5px #fbc63c inset;
}
.grid-items .icons{
    margin-left: 3em;
}
.grid-item i{
    font-size: 25px;
}
.bodycontent{
    background: #e2e8f0;
}
 h3{
    margin-top: 2em;
    transform: translateX(14em);
}
.tables{
    width: 20em;
    height: 25em;
    border-radius: 20px;
    padding-top: 30px;
    padding-right: 5px;
    background: white;
    transform: translate(90em,-61em);
}
.announcments{
    transform: translate(47em,-31em);
}
.tables ul{
    text-decoration: none;
    list-style-type: none;
}